[Unit]
Description=NATS messaging server
After=network.target

[Service]
PrivateTmp=true
Type=simple
PIDFile=/var/run/gnatsd/%i.pid
ExecStart=/usr/sbin/gnatsd -c /etc/gnatsd.conf
User=gnatsd
Group=gnatsd

[Install]
WantedBy=multi-user.target

