name: Docker Nightly
on:
  workflow_dispatch:
    inputs:
      target:
        description: "Override source branch (optional)"
        type: string
        required: false

  schedule:
    - cron: "40 4 * * *"

jobs:
  run:
    runs-on: ${{ vars.GHA_WORKER_RELEASE || 'ubuntu-latest' }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          path: src/github.com/nats-io/nats-server
          ref: ${{ inputs.target || 'main' }}
          fetch-depth: 0
          fetch-tags: true

      - uses: ./src/github.com/nats-io/nats-server/.github/actions/nightly-release
        with:
          workdir: src/github.com/nats-io/nats-server
          hub_username: "${{ secrets.DOCKER_USERNAME }}"
          hub_password: "${{ secrets.DOCKER_PASSWORD }}"
